.always-on-top {
  top: 0px;
  position: fixed;
}

.always-on-bottom {
  bottom: 0px;
  position: fixed;
  width: 100%;
}

.always-in-the-middle {
  padding-bottom: 136px;
  padding-top: 75px;
}

#content {
  width: 1024px;
  margin: 0px auto;
}